extends base
block content

	div.formulario
		form(method="POST", action="/create/user")
			p Nombre :
				input(type="text", required, placeholder="Escribe tu nombre", name="nombre")
			p Apellido:
				input(type="text", required, placeholder="Escribe tu apellido", name="apellido")
			p Edad:
				input(type="number", required, placeholder="Escribe tu edad", name="edad")
			p Ciudad:
				input(type="text", required, placeholder="donde vives", name="ciudad")
			p Especialidad:
				input(type="text", required, placeholder="Tu especialidad", name="especialidad")

			p
				input(type="submit", value="enviar")
